client/node_modules/
client/.cache
client/dist

# Possible executables
cardenal
main
go

# Folders created by building/dependency manager tools
tmp/
vendor/
vendor.orig/

# Environment variables file
.env
