
/**
 * This is an example of how to overwrite styles with Sass.
 *
 * @see https://material-ui.com/customization/overrides/#overriding-with-classes
 */

@import '../breakpoints.scss';

header {
  .toolbar {
    a {
      color: inherit;
      text-decoration: none;

      &:focus {
        outline: none;
      }
    }

    @media (max-width: $screen-md-min) {
      .search-bar {
        margin-left: 15px;
        flex-basis: 70%;
      }
    }
  }
}
